{% extends 'patients/main.html' %}
{% load qr_code %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>Пациенты</h1>
<style>
.patient-image
{
    position: absolute;
    right: 0;
    width:200px;
    height:300px;
}
</style>
{% if patients %}
{% for el in patients %}
<div class="alert alert-warning mt-2">
    <img class = "patient-image" src = "uploads/{{ el.picture }}" >
    <h3> Имя: {{el.name}}</h3>
    <h3> Фамилия: {{el.lastname}}</h3>
    <h3> Отчество: {{el.patronymic}}</h3>
    <p> Дата рождения: {{el.date_of_birth}}</p>
    <p> Дата поступления: {{el.date_of_receipt}}</p>
    <p> Диагноз: {{el.diagnosis}}</p>
    <p> Назначение: {{el.appointment}}</p>
    <p> Комментарии: {{el.comment}}</p>


    <a href="qr-test/{{el.uuid}}">QR код пациента</a>
    <p><a href="edit/{{el.uuid}}">Изменить</a> | <a href="delete/{{el.uuid}}">Удалить</a></p>

</div>
{% endfor %}
{% else %}
<p> Нет записей </p>
{% endif %}
{% endblock %}