{% extends 'patients/main.html' %}
{% block content %}
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Пациент:</h5>
                <hr>
                <a class="btn btn-outline-info  btn-sm btn-block" href="">Обновть данные</a>
                <a class="btn btn-outline-danger  btn-sm btn-block" href="">Удалить пациента</a>

            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr>
                            <th>1</th>
                        </tr>
                        <tr>
                            <th>2</th>
                        </tr>
                        <tr>
                            <th>3</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}